<section class="border-b border-black divide-y" id="Claim">
  <div class="container relative px-5 mx-auto border-black lg:border-r lg:border-l lg:px-16 bg-macosLight-300">
    <div class="w-full lg:mx-auto lg:w-2/3">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="pb-10 mt-6 lg:text-center">
          <h2 class="mb-8 text-5xl font-light tracking-tighter text-black md:text-5xl title-font">Frequently Asked questions.</h2>
          <p class="mt-4 text-lg text-gray-500">Let us help you.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container relative px-5 mx-auto border-black lg:border-r lg:border-l lg:px-16 bg-macosLight-300">
    <main class="flex-auto">
      <div class="px-4 py-14 sm:py-16 lg:py-20">
        <div class="prose prose-md max-w-[37.5rem] mx-auto">
          <h1>Getting Started</h1>
          <h2>Get data from all your everyday tools.</h2>
          <p>
            Get data from all your everyday tools. App helps you streamline data from spreadsheets, databases and other tools, and present it in the clearest
            possible way.
          </p>

          <h2>Building your dashboard.</h2>
          <p>
            There are several best practices you can follow to help make your dashboards not only look great but also have the best possible impact on your
            business.
          </p>
          <h2>Add images using the image widget.</h2>
          <p>Add images using the Image widget to help encourage day-to-day engagement with your dashboard and to enrich your display.</p>
        </div>
      </div>
    </main>
  </div>
</section>
