<section class="border-b border-black lg:divide-y" id="how">
  <div class="container relative px-5 mx-auto border-black lg:border-r lg:border-l lg:px-16 bg-macosAccent-400">
    <div class="w-full lg:mx-auto lg:w-2/3">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:pt-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="pb-10 mt-6 lg:text-center">
          <h2 class="mb-8 text-5xl font-light tracking-tighter text-macosLight-300 md:text-5xl title-font">
            Subscribe for updates, great perks and growth news.
          </h2>
        </div>
        <form action="#" class="mt-8">
          <div class="px-6 py-4 border border-b-0 border-black bg-macosLight-300 sm:mx-auto sm:max-w-lg sm:flex">
            <div class="flex-1 min-w-0">
              <label for="cta-email" class="sr-only">Email address</label>
              <input
                id="cta-email"
                type="email"
                class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent bg-macosLight-300 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-inset-2 focus:ring-inset-macosAccent-600"
                placeholder="Enter your email"
              />
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-3">
              <button
                type="submit"
                class="block w-full px-5 py-3 text-base font-medium text-white border border-transparent bg-macosAccent-500 hover:bg-macosAccent-600 focus:outline-none focus:ring-2 focus:ring-white focus:ring-inset-2 focus:ring-inset-macosAccent-600 sm:px-10"
              >
                Notify me
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
