<section class="border-b border-black divide-y">
  <div class="container relative px-5 mx-auto border-black bg-macosLight-300 lg:border-r lg:border-l lg:px-16">
    <div class="w-full lg:mx-auto lg:w-2/3">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="pb-10 mt-6 lg:text-center">
          <h2 class="mb-8 text-5xl font-light tracking-tighter text-black md:text-5xl title-font">What our customers say.</h2>
          <p class="mt-4 text-lg text-gray-500">
            Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis.
            In venenatis sem arcu pretium pharetra at. Lectus viverra dui tellus ornare pharetra.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container relative px-5 mx-auto border-black bg-macosLight-300 lg:border-r lg:border-l lg:px-16">
    <!---
    If you want to add anbother testimonial simply copy this block underneath this comment and paste it underneath the block that you just copied.
    --->
    <div class="lg:mx-auto lg:max-w-7xl lg:grid lg:grid-flow-col-dense lg:gap-24">
      <div class="relative px-4 pt-20 pb-12 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-10">
        <div class="relative lg:flex lg:items-center">
          <div class="lg:flex-shrink-0">
            <img
              class="w-64 h-64 xl:h-80 xl:w-80"
              src="https://images.unsplash.com/photo-1552058544-f2b08422138a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
              alt=""
            />
          </div>
          <div class="relative mt-6 lg:ml-10 md:mt-0">
            <blockquote class="relative">
              <div class="text-2xl font-medium leading-9 text-wvsc-100">
                <p>
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo expedita voluptas culpa sapiente alias molestiae. Numquam corrupti in laborum
                  sed rerum et corporis.""
                </p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
