<section class="border-b border-black divide-y" id="features">
  <div class="container relative px-5 mx-auto overflow-hidden border-black lg:border-r bg-macosLight-300 lg:border-l lg:px-16">
    <div class="relative">
      <div class="rounded-2xl lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
          <div class="mt-6 lg:pr-8">
            <h2 class="mb-8 text-4xl font-black tracking-tighter text-black md:text-5xl title-font">This is the First great feature.</h2>
            <p class="mt-4 text-lg text-gray-500">
              Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra
              duis. In venenatis sem arcu pretium pharetra at. Lectus viverra dui tellus ornare pharetra.
            </p>
          </div>
        </div>
        <div class="lg:mt-0">
          <div class="lg:px-0 lg:ml-auto lg:relative lg:h-full">
            <img class="object-cover w-full lg:absolute lg:h-full" src="./images/squareOne.png" alt="Inbox user interface" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
