<section class="border-b border-black lg:divide-y" id="how">
  <div class="container relative px-5 mx-auto border-black lg:border-r lg:border-l lg:px-16 bg-macosLight-300">
    <div class="w-full lg:mx-auto lg:w-2/3">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="pb-10 mt-6 lg:text-center">
          <h2 class="mb-8 text-5xl font-light tracking-tighter text-black md:text-5xl title-font">How it works</h2>
          <p class="mt-4 text-lg text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container relative px-5 py-6 mx-auto border-black lg:border-r lg:border-l lg:px-16 bg-macosLight-300">
    <div class="py-6 rounded-2xl lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-3 lg:grid-flow-col-dense lg:gap-24">
      <div class="max-w-xl px-4 sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="mt-6">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 rounded-full text-macosLight-300 bg-wvsc-100">1</div>
          <h2 class="mb-8 text-2xl font-black tracking-tighter text-black md:text-4xl title-font">Medium headline.</h2>
          <p class="mt-4 text-lg text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor.</p>
        </div>
      </div>
      <div class="max-w-xl px-4 sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="mt-6">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 rounded-full text-macosLight-300 bg-wvsc-100">2</div>
          <h2 class="mb-8 text-2xl font-black tracking-tighter text-black md:text-4xl title-font">Medium headline.</h2>
          <p class="mt-4 text-lg text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor.</p>
        </div>
      </div>
      <div class="max-w-xl px-4 sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="mt-6">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 rounded-full text-macosLight-300 bg-wvsc-100">3</div>
          <h2 class="mb-8 text-2xl font-black tracking-tighter text-black md:text-4xl title-font">Medium headline.</h2>
          <p class="mt-4 text-lg text-gray-500">Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor.</p>
        </div>
      </div>
    </div>
  </div>
</section>
