<section class="border-black lg:divide-y">
  <div class="container relative px-5 py-16 mx-auto border-black bg-macosLight-300 lg:border-r lg:border-l lg:px-16">
    <div class="w-full lg:mx-auto xl:w-2/3">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div class="mt-6 lg:text-center">
          <h2 class="mb-8 text-5xl font-black tracking-tighter text-black md:text-8xl title-font">Medium length display headline.</h2>
          <p class="mt-4 text-lg text-gray-500">
            Semper curabitur ullamcorper posuere nunc sed. Ornare iaculis bibendum malesuada faucibus lacinia porttitor. Pulvinar laoreet sagittis viverra duis.
            In venenatis sem arcu pretium pharetra at. Lectus viverra dui tellus ornare pharetra.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
